<!DOCTYPE html>
<html>
<head>
  <title>Briisk Authenticate - Demo App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
<div class="hero-unit">
  <h2>Briisk Authenticate - Demo App</h2>
  <p>This demo presents six ways to externally authenticate your app. This way there is no need to register new users. One can log in via Facebook, Twitter or any other service. Without waiting for confirmation email one can start with your app right away.</p>
</br>
  <p class="blue">Choose the service you want to use to log in to the app.</p>
  <div class="navbar">
  <div class="navbar-inner-inverse">
    <ul class="nav">
      <li><a href="/users/auth/github">
        <%= image_tag "github_64.png", :size => "64x64", :alt => "GitHub" %></a>
      </li>
      <li><a href="/users/auth/twitter">
        <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %></a>
      </li>
      <li><a href="/users/auth/facebook">
        <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %></a>
      </li>
      <li><a href="/users/auth/linkedin">
        <%= image_tag "linkedin_64.png", :size => "64x64", :alt => "Linkedin" %></a>
      </li>
      <li><a href="/users/auth/google_oauth2">
        <%= image_tag "google_oauth2_64.png", :size => "64x64", :alt => "Google" %></a>
      </li>
      <li><a href="/users/auth/google">
        <%= image_tag "google_64.png", :size => "64x64", :alt => "OpenID" %></a>
      </li>
    </ul>
  </div>
</div>
</div>
</div>

<div class="container" id="info">
  <% if user_signed_in? %>
    <div class="alert alert-success">
      You are logged in Briisk Authenticate - Demo App.</br></br>Your uid is: <%= current_user.uid %></br>You are signed in via: <%= current_user.provider %>.
    </div>
  <% else %>
    <div class="alert alert-error">
      You are not logged in Briisk Authenticate - Demo App.
    </div> 
  <% end %>
</div>

<div class="authentications container">
  <% @users = User.all %>
  <% for user in @users %>
    <div class="authentication">
      <%= image_tag "#{user.provider}_32.png", :size => "32x32" %>
      <div class="provider"><%= user.provider.titleize %></div>
      <div class="uid"><%= user.uid.truncate(15) %></div>
      <%= link_to "X", user, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
    </div>
  <% end %>
</div>



<!--<%= link_to 'sign_out', destroy_user_session_path, :method => :delete %>-->

</body>
</html>
